
<p class="text">Entre com um alimento para consultar</p>
<form class="form" action="/request" method="get">
    <input type="text" name="tema" id="tema">
    <input type="submit" value="Consultar" class="button">
</form>